.customers {
  &__container {
    max-width: 880px;
    margin: 0 auto;
    padding: 50px;

    @include tablet {
      max-width: 620px;
      padding: 30px 25px;
    }

    @include mobile {
      max-width: 360px;
      padding: 20px;
    }
  }

  &__header {
    padding-bottom: 40px;
    text-align: center;

    @include mobile {
      padding-bottom: 20px;
    }
  }

  &__list1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    &_item {
      @include mobile {
        width: 100px;
      }
    }
  }
}
