.banner {
  position: relative;
  display: flex;
  margin-bottom: 60px;

  @include mobile {
    margin-top: 60px;
  }

  @include mobile {
    margin-bottom: 20px;
  }

  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 50px;

    @include tablet {
      padding: 30px 25px;
    }

    @include mobile {
      padding: 30px 20px;
    }
  }

  &__content {
    &_header {
      margin-bottom: 50px;

      @include tablet_sm {
        margin-bottom: 30px;
      }

      @include mobile {
        margin-bottom: 5px;
      }
    }

    &_description {
      display: flex;

      @include mobile {
        display: flex;
        flex-direction: column;
      }
    }

    &_play-btn {
      border: none;
      background: transparent;
      position: relative;
      right: 10px;

      @include tablet_md {
        width: 60px;
      }

      @include mobile {
        height: 45px;
      }

      &_icon {
        @include mobile {
          width: 50px;
        }
      }
    }

    &_info {
      width: 245px;
      font-weight: 300;
      text-shadow: 0.4px -0.4px 0.4px #f8f8f8;

      @include tablet {
        width: 210px;
      }

      @include tablet_md {
        width: 190px;
      }

      @include tablet_sm {
        width: 160px;
        padding-top: 10px;
      }
      @include mobile {
        line-height: 14px;
      }
      @include mobile_md {
        line-height: 12px;
        width: 150px;
      }
    }
  }

  &__image {
    width: 100%;
  }
}
