.banner {
  position: relative;
  display: flex;
  margin-bottom: 60px;

  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 50px;

    @include tablet {
      padding: 50px 25px;
    }
  }

  &__content {
    &_header {
      margin-bottom: 50px;
    }

    &_description {
      display: flex;
    }

    &_play-btn {
      border: none;
      background: transparent;
      position: relative;
      right: 10px;
    }

    &_info {
      width: 245px;
      @include font($font-regular, 14px, 24px, $gray);
      font-weight: 300;
      text-shadow: 0.5px 0.5px 0.5px #f8f8f8;

      @include tablet {
        font-size: 13px;
        width: 210px;
      }

      @include tablet_md {
        font-size: 12px;
        line-height: 20px;
        width: 190px;
      }
    }
  }

  &__image {
    width: 100%;
  }
}
