.career {
  &__container {
    margin: 0 auto;
    padding: 50px;
    max-width: 880px;
    @include flex(space-around, center, row);

    @include tablet {
      padding: 30px 25px;
    }
  }
  &__invitation {
    width: 50%;

    &_header {
      margin-bottom: 20px;
      @include font($font-bold, 36px, 42px, $black);

      @include tablet {
        font-size: 28px;
      }

      @include tablet_md {
        font-size: 24px;
        line-height: 36px;
      }

      @include tablet_sm {
        font-size: 18px;
        line-height: 24px;
      }
    }
    &_img {
      width: 100%;
    }
  }
  &__invitation_apply {
    width: 50%;
    margin-left: 50px;

    @include tablet_md {
      margin-left: 25px;
    }

    &_info {
      margin-bottom: 30px;
      text-align: justify;
      max-width: 350px;
      @include font($font-regular, 18px, 24px, $black);

      @include tablet {
        font-size: 16px;
        max-width: 330px;
      }

      @include tablet_md {
        font-size: 14px;
        max-width: 260;
        margin-bottom: 15px;
      }

      @include tablet_sm {
        font-size: 12px;
        line-height: 18px;
      }
    }

    &_btn {
      padding: 11px 48px;
      background: #414141;
      @include font($font-regular, 18px, 24px, $white);

      @include tablet_md {
        padding: 8px 38px;
        font-size: 14px;
      }

      @include tablet_sm {
        padding: 6px 30px;
        font-size: 12px;
      }

      &:hover {
        background: $light-gray;
      }
    }
  }
}
