.career {
  &__container {
    @include flex(center, center, row);
    margin: 0 auto;
    padding: 50px;
  }
  &__invitation {
    &_header {
      margin-bottom: 20px;
      @include font($font-bold, 36px, 42px, $black);
    }
  }
  &__invitation_apply {
    margin-left: 60px;

    &_info {
      margin-bottom: 30px;
      text-align: justify;
      width: 350px;
      // width: 24vw;
      @include font($font-regular, 18px, 24px, $black);
    }

    &_btn {
      padding: 11px 48px;
      background: #414141;
      @include font($font-regular, 18px, 24px, $white);

      &:hover {
        background: $light-gray;
      }
    }
  }
}
