.header {
  @include mobile {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    background: white;
  }
  &__container {
    max-width: $max-width;
    height: 100px;
    @include flex(flex-start, center, row);
    margin: 0 auto;
    padding: 0 50px;

    @include tablet {
      padding: 0 25px;
    }

    @include tablet_md {
      height: 80px;
    }
    @include tablet_sm {
      height: 60px;
    }
    @include mobile {
      padding: 0 20px;
    }

    .header__content_nav_btn {
      @include font($font-medium, 14px, 24px, $black);

      &:hover {
        color: $light-gray;
      }

      &:not(:last-child) {
        margin-right: 30px;
      }
    }

    .first-link {
      border-bottom: 1px solid black;
      padding-bottom: 3px;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__logo {
    @include mobile {
      width: 100px;
    }
  }

  &__content_nav {
    @include tablet {
      display: none;
    }
    margin: 0 50px 0 auto;
  }
}

.header__content_search {
  border: none;
  background: transparent;
  @include tablet {
    display: none;
  }
}

.burger-menu {
  position: relative;
  margin-left: auto;
  margin-right: 0;

  @media (min-width: 993px) {
    display: none;
  }

  &__checkbox {
    display: none;

    &:checked ~ label > span {
      transform: rotate(45deg);
    }
    &:checked ~ label > span:before {
      top: 0;
      transform: rotate(0deg);
    }
    &:checked ~ label > span:after {
      top: 0;
      transform: rotate(90deg);
    }
    &:checked ~ .burger-menu__nav {
      right: 0;
      top: 50px;
      display: block;
    }
  }

  &__label {
    position: sticky;
    z-index: 3;
    display: flex;
    align-items: center;
    width: 26px;
    height: 26px;
    cursor: pointer;

    & span,
    & span::before,
    & span::after {
      display: block;
      position: absolute;
      width: 26px;
      height: 2px;
      background: $black;
    }
    & span::before {
      content: '';
      top: -8px;
    }
    & span::after {
      content: '';
      top: 8px;
    }
  }

  .burger-menu__nav {
    padding-top: 40px;
    position: fixed;
    z-index: 2;
    display: flex;
    flex-flow: column;
    height: 100%;
    background: rgba($color: #fff, $alpha: 0.8);
    overflow-y: auto;
    right: -100%;

    @include mobile {
      padding-top: 15px;
    }
  }

  .burger-menu_active .burger-menu__nav {
    right: 0;
  }

  .burger-menu__nav_item {
    display: block;
    @include font($font-medium, 14px, 12px, $black);
    text-shadow: -0.4px -0.4px 0.4px #f8f8f8;
    padding: 10px;
    width: 100px;
    transition: 0.3s;
    position: relative;
    z-index: 3;

    &:hover {
      color: $light-gray;
    }

    @include mobile {
      width: 80px;
      font-size: 12px;
      line-height: 12px;
    }
  }
}
