.contact {
  &__container {
    max-width: $max-width;
    margin: 0 auto;
    padding: 50px 50px 30px;
    @include flex(space-around, flex-start, row);

    @include tablet {
      padding: 50px 25px 30px;
    }
  }

  &__header {
    padding-bottom: 15px;
    text-align: center;

    @include tablet_md {
      padding-bottom: 10px;
    }
  }

  &__location {
    padding-right: 25px;

    @include tablet {
      padding-right: 18px;
    }

    @include tablet_md {
      padding-right: 12px;
    }

    &_block {
      position: relative;
    }

    &_map {
      width: 360px;

      @include tablet {
        width: 320px;
      }

      @include tablet_md {
        width: 300px;
      }
    }

    &_content {
      position: absolute;
      top: 12px;
      left: 14px;
      z-index: 1;
      padding: 12px 70px 12px 20px;
      width: 220px;
      background: white;

      @include tablet_md {
        width: 180px;
      }
    }

    &_content-name {
      @include font($font-bold, 24px, 36px, $gray);

      @include tablet_md {
        font-size: 18px;
        line-height: 24px;
      }
    }

    &_content-address {
      @include font($font-bold, 12px, 24px, $gray);

      @include tablet_md {
        font-size: 10px;
        line-height: 16px;
      }
    }
  }

  &__company {
    padding-right: 25px;

    @include tablet {
      padding-right: 18px;
    }

    @include tablet_md {
      padding-right: 12px;
    }
    &_list_item {
      @include flex(start, start, column);
      @include font($font-medium, 16px, 34px, $light-gray);

      @include tablet {
        font-size: 14px;
        line-height: 30px;
      }

      @include tablet_md {
        font-size: 14px;
        line-height: 26px;
      }

      &:hover {
        text-decoration: underline;
        color: $gray;
      }
    }
  }

  &__networks {
    @include flex(start, start, column);

    &_link {
      padding: 8px;

      @include font($font-medium, 16px, 34px, $light-gray);

      @include tablet {
        font-size: 14px;
        line-height: 24px;
      }

      @include tablet_md {
        font-size: 14px;
        line-height: 24px;
        padding: 6px 0;
      }

      &_icon {
        padding-right: 10px;

        @include tablet_md {
          padding-right: 5px;
        }
      }
      &_label {
        position: relative;
        bottom: 5px;

        &:hover {
          text-decoration: underline;
          color: $gray;
        }
      }
    }
  }

  &__copyright {
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
    height: 70px;

    h5 {
      padding-top: 23px;
      padding-left: 108px;
      @include font($font-medium, 14px, 24px, $gray);

      @include tablet {
        padding-left: 60px;
      }

      @include tablet_md {
        font-size: 12px;
      }
    }
  }
}
