.contact {
  &__container {
    max-width: $max-width;
    margin: 0 auto;
    padding: 50px 50px 30px;
    @include flex(space-between, flex-start, row);

    @include tablet {
      padding: 30px 25px;
    }

    @include mobile {
      padding: 20px;
    }
  }

  &__header {
    padding-bottom: 15px;

    @include tablet_md {
      padding-bottom: 10px;
    }
  }

  &__location {
    max-width: 360px;
    margin-right: 20px;

    &_title {
      text-align: center;
    }

    &_block {
      position: relative;
    }

    &_map {
      width: 100%;
    }

    &_content {
      position: absolute;
      top: 12px;
      left: 14px;
      z-index: 1;
      padding: 12px 70px 12px 20px;
      width: 220px;
      background: white;

      @include tablet {
        width: 200px;
      }

      @include tablet_md {
        width: 180px;
      }

      @include tablet_sm {
        width: 150px;
      }

      @include mobile {
        padding: 8px 50px 8px 10px;
        width: 120px;
      }

      @include mobile_md {
        width: 100px;
        padding: 5px 10px;
      }
    }

    &_content-name {
      @include font($font-bold, 24px, 36px, $gray);

      @include tablet {
        font-size: 21px;
        line-height: 28px;
      }

      @include tablet_md {
        font-size: 18px;
        line-height: 24px;
      }

      @include tablet_sm {
        font-size: 14px;
        line-height: 18px;
      }

      @include mobile {
        font-size: 12px;
        line-height: 14px;
      }

      @include mobile_md {
        font-size: 11px;
      }
    }

    &_content-address {
      @include font($font-bold, 12px, 24px, $gray);

      @include tablet {
        font-size: 11px;
        line-height: 16px;
      }

      @include tablet_md {
        font-size: 10px;
        line-height: 16px;
      }

      @include tablet_sm {
        line-height: 14px;
      }

      @include mobile {
        font-size: 8px;
        line-height: 10px;
      }
    }
  }

  &__company {
    width: 122px;
    margin-right: 20px;
    flex-shrink: 0;

    // @include tablet {
    //   padding-right: 18px;
    //   width: 100px;
    // }

    @include mobile {
      padding-right: 12px;
      width: 70px;
    }

    @include mobile_md {
      width: 65px;
    }

    &_list_item {
      @include flex(center, flex-start, column);

      @include font($font-medium, 16px, 34px, $light-gray);

      @include tablet {
        font-size: 14px;
        line-height: 30px;
      }

      @include tablet_md {
        font-size: 14px;
        line-height: 26px;
      }

      @include tablet_sm {
        font-size: 12px;
        line-height: 21px;
      }

      @include mobile_md {
        font-size: 11px;
        line-height: 18px;
      }

      &:hover {
        text-decoration: underline;
        color: $gray;
      }
    }
  }

  &__networks {
    width: 200px;
    flex-shrink: 0;

    @include tablet {
      width: 185px;
    }

    @include tablet_md {
      width: 160px;
    }

    @include tablet_sm {
      width: 150px;
    }

    @include mobile {
      width: 130px;
    }

    &_link {
      padding: 8px 0;

      @include flex(start, start, row);

      @include font($font-medium, 16px, 34px, $light-gray);

      @include tablet {
        font-size: 14px;
        line-height: 24px;
      }

      @include tablet_md {
        font-size: 14px;
        line-height: 24px;
        padding: 6px 0;
      }

      @include tablet_sm {
        font-size: 12px;
        line-height: 21px;
      }

      @include mobile {
        font-size: 11px;
        line-height: 16px;
      }
      &_icon {
        padding-right: 10px;

        @include tablet_md {
          padding-right: 5px;
        }

        @include tablet_sm {
          width: 18px;
        }
      }
      &_label {
        position: relative;
        bottom: 5px;

        &:hover {
          text-decoration: underline;
          color: $gray;
        }

        @include mobile {
          bottom: 1px;
        }
      }
    }
  }

  &__copyright {
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
    height: 70px;

    @include mobile {
      height: 50px;
    }

    h5 {
      padding-top: 23px;
      padding-left: 108px;
      @include font($font-medium, 14px, 24px, $gray);

      @include tablet {
        padding-left: 60px;
      }

      @include tablet_md {
        font-size: 12px;
        padding-left: 40px;
      }

      @include tablet_sm {
        padding-left: 25px;
      }

      @include mobile {
        padding-top: 15px;
      }
    }
  }
}
