.contact {
  &__container {
    max-width: $max-width;
    margin: 0 auto;
    padding: 50px 50px 30px;
    @include flex(space-around, flex-start, row);

    @include tablet {
      padding: 30px 25px;
    }

    @include tablet_sm {
      justify-content: space-between;
    }
  }

  &__header {
    padding-bottom: 15px;
    text-align: center;

    @include tablet_md {
      padding-bottom: 10px;
    }
  }

  &__location {
    width: 22%;
    padding-right: 25px;

    @include tablet {
      padding-right: 18px;
    }

    @include tablet_md {
      padding-right: 12px;
    }

    @include tablet_sm {
      width: 35%;
    }

    &_block {
      position: relative;
    }

    &_map {
      width: 330px;

      @include tablet {
        width: 270px;
      }

      @include tablet_md {
        width: 240px;
      }

      @include tablet_sm {
        width: 220px;
      }
    }

    &_content {
      position: absolute;
      top: 12px;
      left: 14px;
      z-index: 1;
      padding: 12px 70px 12px 20px;
      width: 220px;
      background: white;

      @include tablet {
        width: 200px;
      }

      @include tablet_md {
        width: 180px;
      }

      @include tablet_sm {
        width: 150px;
      }
    }

    &_content-name {
      @include font($font-bold, 24px, 36px, $gray);

      @include tablet {
        font-size: 21px;
        line-height: 28px;
      }

      @include tablet_md {
        font-size: 18px;
        line-height: 24px;
      }

      @include tablet_sm {
        font-size: 14px;
        line-height: 18px;
      }
    }

    &_content-address {
      @include font($font-bold, 12px, 24px, $gray);

      @include tablet {
        font-size: 11px;
        line-height: 16px;
      }

      @include tablet_md {
        font-size: 10px;
        line-height: 16px;
      }

      @include tablet_sm {
        line-height: 14px;
      }
    }
  }

  &__company {
    width: 11%;
    padding-right: 25px;

    @include tablet {
      padding-right: 18px;
    }

    @include tablet_md {
      padding-right: 12px;
    }

    @include tablet_sm {
      width: 15%;
    }

    &_list_item {
      @include flex(center, flex-start, column);

      @include font($font-medium, 16px, 34px, $light-gray);

      @include tablet {
        font-size: 14px;
        line-height: 30px;
      }

      @include tablet_md {
        font-size: 14px;
        line-height: 26px;
      }

      @include tablet_sm {
        font-size: 12px;
        line-height: 21px;
      }

      &:hover {
        text-decoration: underline;
        color: $gray;
      }
    }
  }

  &__networks {
    width: 14%;

    @include tablet_sm {
      width: 30%;
    }

    &_header {
      text-align: start;
    }

    &_link {
      padding: 8px 0;

      @include flex(start, start, row);

      @include font($font-medium, 16px, 34px, $light-gray);

      @include tablet {
        font-size: 14px;
        line-height: 24px;
      }

      @include tablet_md {
        font-size: 14px;
        line-height: 24px;
        padding: 6px 0;
      }

      @include tablet_sm {
        font-size: 12px;
        line-height: 21px;
      }

      &_icon {
        padding-right: 10px;

        @include tablet_md {
          padding-right: 5px;
        }

        @include tablet_sm {
          width: 18px;
        }
      }
      &_label {
        position: relative;
        bottom: 5px;

        &:hover {
          text-decoration: underline;
          color: $gray;
        }
      }
    }
  }

  &__copyright {
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
    height: 70px;

    h5 {
      padding-top: 23px;
      padding-left: 108px;
      @include font($font-medium, 14px, 24px, $gray);

      @include tablet {
        padding-left: 60px;
      }

      @include tablet_md {
        font-size: 12px;
      }

      @include tablet_sm {
        padding-left: 30px;
      }
    }
  }
}
