.service {
  position: relative;
  display: flex;
  margin: 60px 0;

  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    padding: 0 50px;

    @include tablet {
      padding: 0 25px;
    }
  }

  &__content {
    width: 508px;
    padding: 28px 50px;
    background: white;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);

    @include tablet {
      width: 420px;
    }

    @include tablet_md {
      width: 350px;
      padding: 23px 30px;
    }

    @include tablet_sm {
      width: 300px;
    }
    &_header {
      padding-top: 30px;

      @include tablet {
        padding-top: 20px;
      }
      @include tablet_md {
        padding-top: 15px;
      }
    }

    &_info {
      padding: 30px 0;
      width: 240px;
      @include font($font-medium, 18px, 24px, $light-gray);

      @include tablet {
        font-size: 16px;
        padding: 20px 0;
      }

      @include tablet_md {
        padding: 15px 0;
      }

      @include tablet_sm {
        font-size: 14px;
      }
    }

    &_btn {
      padding: 14px 35px;
      background: #4a4a4a;
      @include font($font-medium, 14px, 24px, $white);

      &:hover {
        background: $light-gray;
      }

      @include tablet_sm {
        padding: 10px 25px;
        font-size: 13px;
      }
    }
  }
  &__image-container {
    @include flex(flex-end, center, row);
    width: 100%;
  }
  &__image {
    @include tablet_md {
      width: 100%;
    }
    @include tablet_sm {
      width: 100%;
    }
  }
  &__image-container {
    @include flex(flex-end, center, row);
    width: 100%;
  }
}
